# Local (Docker) o Neon
DATABASE_URL="postgresql://user:pass@host-pooler.region.aws.neon.tech/db?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://user:pass@host.region.aws.neon.tech/db?sslmode=require&channel_binding=require"

# Auth (generar con: openssl rand -base64 32)
AUTH_SECRET="cambiar-en-produccion"
# En Vercel: https://<proyecto>.vercel.app
AUTH_URL="http://localhost:3000"

# API pública
NEXT_PUBLIC_API_URL="http://localhost:3000/api"
